# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
.venv_cuda
env/
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Project specific
z_archived_legacy_files/
*.log
